<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title th:text=#{title}></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate"/>
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css"></link>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"></link>
    <!-- Bootstrap Material Design -->
    <link th:href="@{/css/bootstrap-material-design.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/bootstrap-material-datetimepicker.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/bootstrap-combobox.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/ripples.min.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/my-style-main-layout.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/my-style-center-text-layout.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/my-style-wide-form-control.css}" rel="stylesheet" type="text/css"></link>
    
</head>
<body>
    <div id="wrap">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="container">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/goHome}" th:text=#{title}></a>
                </div>
                <form class="navbar-form navbar-right" th:action="@{/logout}" method="POST">
                   <button type="submit" class="btn btn-flat btn-lg" th:text="#{logout}"></button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" th:utext=#{language}>
                        <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="?lang=en">EN</a></li>
                            <li><a href="?lang=ru">RU</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    </div>
    
    <div>
        <div class="container">
            <div class="row">
                <form th:action="@{/installCloudClient}" th:object="${installCloudClientDto}" class="form-horizontal" method="POST">
                    <fieldset>
                        
                        <table class="table table-hover">
                            <tr>
                                <td width="5%"></td>
                                
                                <td width="7%">
                                   <div class="form-group padding-sides-none my_style_one">
                                        <select class="form-control selectpicker centerSelect" id="ansibleGroup" name="ansibleGroup" th:field="*{ansibleGroup}" data-live-search="true"  >
                                            <option th:value="''" th:text="#{installCloudClient.selectAnsibleGroupDefault}"></option>
                                            
                                            <option th:each="ansibleGroup : ${getAnsibleGroup}" th:value="${ansibleGroup}" th:text="${ansibleGroup}"></option>
                                        </select>
                                        <p th:each="error: ${#fields.errors('ansibleGroup')}" th:text="${error}">Validation error</p>
                                    </div>
                                </td>
                                
                                <td width="3%"></td>
                                
                                <td width="7%">
                                    <div class="form-group padding-sides-none my_style_one">
                                        <select  class="form-control selectpicker centerSelect" id="ansibleHost" name="ansibleHost" th:field="*{ansibleHost}" data-live-search="true" >
                                            <option th:value="''" th:text="#{installCloudClient.selectAnsibleHostDefault}" ></option>
                                        </select>
                                        <p th:each="error: ${#fields.errors('ansibleHost')}" th:text="${error}">Validation error</p>
                                    </div>
                                </td>
                                
                                <td width="5%"></td>
                            </tr>
                        </table>
                        

                        <button type="submit" class="btn btn-raised btn-primary col-sm-12" th:text="#{installCloudClient.button}"></button>
                        
                        <div class="myCenterLayout">
                            <label><span th:text="#{installCloudClient.reminder}"></span></label>
                        </div>
                        
                    </fieldset>
                </form>
            </div>
            
        </div>
        
        
    </div>

    <footer class="navbar navbar-fixed-bottom footer">
        <div class="container">
            <!--Copyright-->
            <div class="footer-copyright">
                <a href="http://www.farmin.by">FARMIN.BY</a>
            </div>
        </div>
    </footer>
    
    <script th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment-with-locales.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/material.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/ripples.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-combobox.js}"></script>
    <script th:src="@{/js/bootstrap-material-datetimepicker.js}"></script>
    <script th:src="@{assets/inputmask/jquery.inputmask.min.js}"></script>
    
    <script>
	    function sendAjaxRequest() {
		    var country = $("#ansibleGroup").val();
		    $.get( "/getAnsibleHostsByGroup?ansibleGroup=" + country, function( data ) {
		        $("#ansibleHost").empty();
		        data.forEach(function(item, i) {
		            var option = "<option value = " + item.hostNameValue + ">" + item.hostName +  "</option>";
		            $("#ansibleHost").append(option);
		        });
		    });
	    };
    </script>
    
    <script>
	    $(document).ready(function() {
		    $("#ansibleGroup").change(function() {
		        sendAjaxRequest();
		    });
	    });
    </script>
    
    <script>
        function getTextWidth(txt) {
          var $elm = $('<span class="tempforSize">'+txt+'</span>').prependTo("body");
          var elmWidth = $elm.width();
          $elm.remove();
          return elmWidth;
        }
        function centerSelect($elm) {
            var optionWidth = getTextWidth($elm.children(":selected").html())
            var emptySpace =   $elm.width()- optionWidth;
            $elm.css("text-indent", (emptySpace/2) - 10);// -10 for some browers to remove the right toggle control width
        }
        // on start 
        $('.centerSelect').each(function(){
          centerSelect($(this));
        });
        // on change
        $('.centerSelect').on('change', function(){
          centerSelect($(this));
        });
    </script>

</body>
</html>
