<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text=#{title}></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    
    <!-- Material Design fonts -->
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css"></link>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css"></link>
    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"></link>
    
    <link th:href="@{/css/bootstrap-material-design.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/ripples.min.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"></link>
</head>
<body>
    <div id="wrap">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="container">
                    <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:text=#{title}></a>
                    </div>
                    <form class="navbar-form navbar-right" th:action="@{/login}" method="GET">
                   <button type="submit" class="btn btn-flat btn-lg" th:text="#{login.title}"></button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" th:utext=#{language}>
                        <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="?lang=en">EN</a></li>
                            <li><a href="?lang=ru">RU</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" id="login">
        <div class = "login">
        <div class="well">
            <form th:action="@{/register}" th:object="${user}" method="post">
            <span class="login-title" th:text="#{register.title}"></span>
                <div class="form-group">
                    <input class="form-control" type="text"  id="username" name="username" autofocus="autofocus" th:field="*{username}" th:attr="placeholder=#{user.placeholder}"/>
                    <p th:each="error: ${#fields.errors('username')}" th:text="${error}">Validation error</p>
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" pattern="[a-zA-Z0-9._%+-]+@farmin.by" minlength="11" maxlength="35" id="email" name="email" th:field="*{email}" th:attr="placeholder=#{mail.placeholder}"/>
                    <p th:each="error: ${#fields.errors('email')}" th:text="${error}">Validation error</p>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" id="password" name="password" th:field="*{password}" th:attr="placeholder=#{pass.placeholder}"/>
                    <p th:each="error: ${#fields.errors('password')}" th:text="${error}">Validation error</p>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" id="matchingPassword" name="matchingPassword" th:field="*{matchingPassword}" th:attr="placeholder=#{pass.rep.placeholder}"/>
                    <p th:each="error: ${#fields.errors('matchingPassword')}" th:text="${error}">Validation error</p>
                </div>
                <div class="text-center">
                    <input type="submit" class="btn btn-primary" th:attr="value=#{register.title}"/>
                </div>
            </form>
        </div>
        </div>
    </div>
    </div>
    
    <!--Footer-->
    <footer class="navbar navbar-fixed-bottom footer">
        <div class="container">
            <!--Copyright-->
            <div class="footer-copyright">
                <a href="http://www.farmin.by">FARMIN.BY</a>
            </div>
            <!--/.Copyright-->
        </div>
    </footer>
    
    <script th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment-with-locales.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/material.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/ripples.min.js}"></script>
</body>
</html>
